*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer{
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer .heading{
    color: white;
    max-width: 1010px;
    width: 90%;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 3rem;
}

.footer .content{
    display: flex;
    justify-content:space-evenly;
    margin: 1.5rem;
}

.footer .content p{
    margin-bottom: 1rem;
}

.footer .content a{
    text-decoration: none;
    color: white;
}

.footer .content a:hover{
    border-bottom: 1px solid red;
}

.footer .content h4{
    margin-bottom: 1.3rem;
    font-size: 19px;
}

footer{
    text-align: center;
    margin-bottom: 2rem;
}

.social-media p a i{
    margin-right: 5px;
}